/* Reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
/* 
1. từ ngoài vào trong
2. từ trên xuống dưới
3. từ tổng quan đến chi tiết
*/

/*
 1. vị trí
2. kích thước
3. màu sắc
4. kiểu dáng 
*/
#main{

    /* overflow: hidden; */

}
/* common */
.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-full{
    width: 100%;
}
.col-3{
    width: 33.33%;
}

.col-2{
    width: 50%;
}

.mt-8{
    margin-top: 8px;
}
.mt-16{
    margin-top: 16px;
}
.clear{
    /* su dung chu voi thuoc tinh float left */
    clear: both;
}
.text-white{
    color: #fff !important;
}
.text-center{
    text-align: center !important;
}
#header{
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
      /* bóng đổ */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 
}
#nav{
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;
}
#nav li{
    /* display: inline-block; thuộc tính hiển thị theo dạng dòng box */
    display: inline-block;
    position: relative;
}

#nav li:hover .subnav{
    display: block;
}
#nav  li  a{
    color: #fff;
    /* THuộc tính bỏ gạch chân cho a */
    text-decoration: none; 
    line-height: 46px;
    padding-left: 24px;
    padding-right: 24px;
    display: block;

}
#nav > li > a{
    text-transform: uppercase;
}
/* nav li cấp 1 hover vào thẻ a cấp 1 */
#nav > li:hover > a{
    background-color: #ccc;
    color: black;

 
}


#nav .subnav{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    /* chiều ngan tối thiểu */
    min-width: 160px;
    /* bóng đổ */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    
}
#nav .subnav li{
   display: block;
}
#nav .subnav li:hover{
    background-color: #ccc;
}
#nav .subnav a{
    color: black;
    padding:0 12px;
    line-height: 38px;

}
#nav .nav-arrow-down{
    font-size: 12px;
}
#header .search-btn{
    float: right;
    line-height: 46px;
    padding: 0 21px;
    
}
#header .mobile-menu-btn{
    float: right;
    line-height: 46px;
    padding: 0 21px;
    position: absolute;
    top: 0;
    right: 0;
}
#header .mobile-menu-btn{
    display: none;
}
#header .search-btn:hover{
    background-color: red;
    /* con tro chuot hinh ban tay */
    cursor: pointer;
}

#header .mobile-menu-btn:hover{
   background-color: #ccc;
   
}
#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
    
 }
#header .search-icon,
.menu-icon{
    color: #fff;
    font-size: 16px;
    
}
.slider-1{
    background-image: url(../img/newyork.jpg);
    margin-top: 46px;
    padding-top: 50%;
    color: #fff;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    
}

.slider-2{
    background-image: url(../img/chicago.jpg);
    margin-top: 46px;
    padding-top: 50%;
    color: #fff;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    
}
.slider-3{
    background-image: url(../img/ny.jpg);
    margin-top: 46px;
    padding-top: 50%;
    color: #fff;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    
}
.text-content{
    position: absolute;
    bottom: 48px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    
    
    
}

.text-heading{
    font-weight: 500;
    font-size: 24px;
    padding-bottom: 25px;
    z-index: 1;
}
.text-descrision{
    font-size: 15px;
    text-shadow: 0 0 10px #000;
}
#content{
   

}

.content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 64px;
    padding-bottom: 112px;
    padding-left: 16px;
    padding-right: 16px;

}
.section-heading{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 500;
    /* khoang cach chu */
    letter-spacing: 4px;
}
.section-sub-heading{
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    /* phong cach cua font */
    font-style: italic;
    /* do trong suout */
    opacity: 0.6;
}

#content .about-text{
    font-size: 15px;
    margin-top: 25px;
    /* can deu doan van */
    text-align: justify;
    /* chinh do cao cuar dong */
    line-height: 1.4;
}

#content .members-list{
   margin-top: 48px;
}



#content .member-name{
    font-size: 15px;
   
}

#content .img-avatar{
    margin-top: 15px;
    width: 154px;
    border-radius: 8px;
  
}

/* Tour section */
.tour-section{
    background-color: #000;
}

.tickets-list{
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

.tickets-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
   
}

.tickets-list .sold-out{
    background-color: #F44336;

    color: white;
    margin-left: 16px;
    padding:  4px 8px;
}

.tickets-list .quantity{
    background-color: #000;
    float: right;
    width: 24px;
    height: 24px;
    color: #fff;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    margin-top: -3px;
}

.places-list {
    margin-top: 16px;


}


.places-list .places-img{
    width: 100%;
    display: block;
}
.places-img:hover{
    opacity: 0.6;
}
.places-body{
    background-color: #fff;
    padding: 16px;

}

.places-heading{
    font-size: 15px;


}

.places-time{
    font-size: 15px;
    margin: 15px 0;
    color: #000;
    opacity: 0.6;
}

.places-drc{
    font-size: 15px;
    margin: 15px 0;
    line-height: 1.5;
}

.places-buy-btn{
    font-size: 15px;
    background-color: #000;
    padding: 8px 16px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
   
}

.places-buy-btn:hover{
    color: #000;
    background-color: #ccc;
}

.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
    align-items: center;
    justify-content: center;
}

.modal .modal-container{
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    max-width: calc(100% - 32px);
    position: relative;
    animation: modalFadeIn  ease 0.7s;
}

.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    font-size: 9px;
    opacity: 0.9;
}

.modal-close:hover{
    background-color: #ccc;
    cursor: pointer;
    color: #000;
}
.modal-header{
    font-size: 30px;
    color: #fff;
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pad-header{
    margin-right: 16px;
}

.modal-body{
    padding: 16px;
    
}

.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-ticket{
    padding: 18px;
    width: 100%;
    background-color: #009688;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
}

#buy-ticket:hover{
    cursor: pointer;
    opacity: 0.8;
}

.modal-footer{
    text-align: right;
    padding: 16px;
}

.modal-footer a{
    color: #009688;
}

.open{
    display: flex;
}

@keyframes modalFadeIn {
    from{
        transform: translateY(-140px);
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.4;
}

.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.form-submit-btn{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 16px;
    float: right;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}

.form-submit-btn:hover{
    background-color: #ccc;
    color: #000;
}

.img-section{
    width: 100%;
    /* thuoc tinh lam xam anh */
    filter: grayscale(50%);
}
#footer{
    padding: 64px 16px;
    justify-content: center;
    text-align: center;
}
#footer .socials-list{
    font-size: 24px;
}
#footer .socials-list a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}
#footer .socials-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}
.copyright{
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    line-height: 1.5;
    margin-top: 15px;
    margin-bottom: 15px;
}
.copyright a{
    color: rgba(0, 0, 0, 0.6);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }